<div id="resultsTable">
  {{#if games}}
  <h3>Search Results</h3>
  <div class="card-columns">
    {{#each games}}
    <div class="favs" id={{this.id}}>
      <div class="card mt-2">
        <img src="{{this.imageSrc}}" alt="game image unavailable" class="card-img-top img-thumbnail rounded">
        <div class="card-body">
          <h5 class="card-title">{{this.name}}</h5>
          <p class="card-text">
            <a href="{{this.description}}" target="_blank">{{this.description}}</a>
          </p>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  {{else}}
  <h3>No matches found. Please refine your search!</h3>
  {{/if}}
</div>

<script src="/javascript/addgamewishlist.js"></script>