{{#if games}}
<div class="row">
  <div class="card-group">
   {{#each games as |game|}}
    <div class="card h-30" id={{game.id}}>
        <a href="/id/{{game.id}}"><img src="{{game.image}}" alt="game image unavailable" class="card-img-top"></a>
        <div class="card-body">
          <h5 class="card-title">{{game.title}}</h5>
        </div>
    </div>
   {{/each}}
  </div>
</div>
{{/if}}
{{!-- {{else}} --}}
  {{!-- <h3>No game recommendations generated yet</h3> --}}

